.contact-window {
  height: 100%;
  margin-right: 50%;
  margin-left: auto;
  background: linear-gradient(155deg, $darkBlue, white);

  &__title,
  &__contact-form {
    margin: auto;
  }

  &__title,
  &__links-container {
    color: white;
  }

  &__title {@include lineFontWeightParams(100%, 1.6em, 700);}

  &__contact-form {
    margin-top: 1.5em;
    padding: 0.5em;
    border-radius: 1em;
    background: linear-gradient(0deg, transparent, white, $lightBlue);
  }

  &__links-container {
    display: flex;
    gap: 2em;
    margin-top: 1em;

    .ul-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2em;
    }
  }

  .title {text-transform: capitalize;}
  .link {font-weight: 500;}
}

@media screen and (max-width: 1050px) {
  .contact-window {margin-right: auto;}
}
@media screen and (max-width: 600px) {
  .contact-window {
    max-width: 100%;
    &__title {font-size: 1.6em;}
  }
}
