$commonHeaderTop: 2.3em;

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all .2s linear;
  z-index: 50;

  .container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo-link {
    margin-left: 0.5em;
    text-transform: uppercase;
    @include lineFontParams(120%, 1em, 700);
  }
  &__nav-container {
    text-transform: lowercase;
  }

  &--menu-opened {
    z-index: 10;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: $commonHeaderTop;
    background: linear-gradient(155deg, $lightBlue, white, white, $lightYellow);
    overflow-y: auto;

    .nav-container {
      width: 100%;
      margin-top: 2.5em;
      margin-bottom: 2.5em;
    }
  }

  &--normal {
    padding-top: $commonHeaderTop;
    background-color: transparent;
  }
  &--lesser {
    padding-top: .4em;
    padding-bottom: .4em;
    box-shadow: 0 3px 4px -2px $greyImgBorder;
    background-color: rgba(207, 220, 237, 0.95); // $lightBlue
  }
}

.nav-container {
  &__ul-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.55em 3em;

    .li-item {@include lineFontParams(153%, 0.9em, 400);}
  }
}

@media screen and (max-width: 700px) {
  .header-container{
    &__logo-link {
    margin-left: unset;
    text-transform: capitalize;
    font-size: 0.8em;
    }
  }

  .nav-container {
    &__ul-list {
      flex-direction: column;
      align-items: center;
    }
  }
}
