.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;

  &__modal-window {
    max-width: 35em;
    padding: 2.3em 2em 1.3em;
    overflow-y: auto;
  }

  &__back-close-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(39, 45, 56, 0.7); // $mediumBlack
    z-index: -1;
    transition: background-color 0.3s linear;

    &:focus {background-color: rgba(39, 45, 56, 0.4);} // $mediumBlack
  }
}

.modal-window {
  &__svg-button {float: right;}
}
