.page-on-load-container {
  position: absolute;
  top: 0;
  display: flex;

  height: 100%;
  width: 100%;
  background: linear-gradient(155deg, $lightBlue, white, $lightYellow);
  z-index: 1000;

  &__title {
    position: absolute;
    font-size: 1.2em;
    white-space: nowrap;
    text-transform: uppercase;
    animation: before-page-load 5s ease-in-out infinite
  }

  &--fade-out {
    animation: fade-out 1s linear 1;
  }
}
