$greyTestimonialsTitle: #667085;
$greyImgBorder: #DEDCDB;

$greyBack: #F6F6F6;
$whiteBack: #FCFCFC;

$mediumBlack: #272D38;

$lightBlue: #CFDCED;
$mediumBlue: #8EADD5;
$darkBlue: #5A87C2;

$mediumGreen: #2CAF8A;

$mediumRed: #D34F64;
$darkRed: #BA2E45;

$lightYellow: #F3DEC2;
$mediumYellow: #D8963F;
$darkYellow: #BD7528;
