.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;

  &__modal-window {
    background-color: $mediumGreen;
    background: linear-gradient(155deg, $darkBlue, white, white);
  }

  &__back-close-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(39, 45, 56, 0.7); // $mediumBlack
    z-index: -1;
    transition: background-color 0.3s linear;

    &:focus {background-color: rgba(39, 45, 56, 0.4);} // $mediumBlack
  }
}

.modal-window {
  height: 100%;
  max-width: 35em;
  margin-right: 50%;
  margin-left: auto;
  padding: 2.3em 2em 1.3em;
  overflow-y: auto;

  &__svg-button {float: right;}

  &__title,
  &__contact-form {
    margin: auto;
  }

  &__title,
  &__links-container {
    color: white;
  }

  &__title {@include lineFontParams(100%, 1.6em, 700);}

  &__contact-form {margin-top: 1.5em;}

  &__links-container {
    display: flex;
    gap: 2em;
    margin-top: 1em;

    .ul-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2em;
    }
  }

  .title {text-transform: capitalize;}
  .link {font-weight: 500;}
}

@media screen and (max-width: 1050px) {
  .modal-window {margin-right: auto;}
}
@media screen and (max-width: 600px) {
  .modal-window {
    max-width: 100%;
    &__title {font-size: 1.6em;}
  }
}
