.display {
  &--none {display: none !important;}

  &--hidden {
    position: absolute;
    top: auto;
    left: -1000000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

@media screen and (pointer: fine) {
  .button--common:hover {background-color: $darkBlue;}
}
.button--common {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 0.5em;
  border-radius: 0.6em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: $mediumBlue;
  @include lineFontParams(172%, 0.8em, 600);

  &:focus {background-color: $mediumGreen;}
}

.links-container {
  .title {@include lineFontParams(153%, 0.9em, 700);}
  .li-item {@include lineFontParams(100%, 0.8em, 300);}
}
