@use './../mixins' as *;
@use './../colors' as *;
@use './../vars' as *;

.contact-form {
  display: flex;
  flex-direction: column;

  &__required-container {margin-left: auto;}

  &__partition {
    margin-top: 1em;
    &:last-of-type {margin-top: 1.5em;}
  }

  &__submit-button {
    width: 12em;
    margin: 2em 0 0 auto;
  }
}

.partition {
  .input,
  .textarea,
  &__checkbox-container {
    margin-top: 0.4em;
  }

  .input,
  .textarea {
    width: 100%;
    border: 2px solid $mediumBlue;
    @include lineFontParams(150%, 0.8em, 400);
  }

  .textarea {min-height: 30px;}

  &__privacy-info {
    border-bottom-right-radius: 0;
    @include lineFontParams(140%, 0.7em, 400);
  }

  &__error-info {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 0.2em 0.5em;
    text-align: center;
  }
}

.info-text {
  border-radius: 0.5em;
  text-align: justify;
  color: $mediumBlack;

  &__link {color: $darkYellow;}
}

.required-container__info-text {@include lineFontParams(100%, 0.8em, 400);}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__label {
    max-width: 60%;
    padding: 0.2em;
    @include lineFontParams(140%, 0.9em, 500);
  }

  &__info-text {
    margin-right: 0.2em;
    margin-left: 0.2em;
    @include lineFontParams(100%, 0.7em, 500);
  }
}

@media screen and (max-width: 500px) {
  .label-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__info-text {
      align-self: flex-end;
      margin-bottom: 0.3em;
    }
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  border-radius: 0.4em;
  text-align: center;
  transition: $focusTransition;

  .checkbox-label {
    padding-right: 0.5em;
    padding-left: 0.5em;
    @include lineFontParams(140%, 0.8em, 600);
  }

  &--focused {box-shadow: $focusShadow;}
}

.field--error {border-color: $mediumRed;}

.error-info {
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  color: white;
  background-color: $darkRed;
  @include lineFontParams(150%, 0.7em, 400);

  &--checkbox {
    margin-top: 0.5em;
    border-radius: 1em;
  }
}
