@use './../mixins' as *;
@use './../colors' as *;

.footer-container {
  padding-top: 5.35em;
  padding-bottom: 0.9em;
  text-transform: capitalize;
  background-color: $greyBack;

  &__copywrite-container {
    margin-top: 5.5em;
    text-align: center;
    text-transform: initial;
  }

  &__links-container {
    display: grid;
    grid-template-columns: 10em repeat(3, auto);
    grid-gap: 3.5em 8.5em;

    .ul-list {
      margin-top: 1.6em;

      .li-item {
        margin-bottom: 1.5em;
        &:last-of-type {margin-bottom: unset;}
      }
    }
  }
}

.about-container {
  &__p-item {
    max-width: 12em;
    margin-top: 2.45em;
    @include lineFontParams(150%, 0.8em, 300);
  }
}

.copywrite-container__p-item {@include lineFontParams(100%, 0.8em, 300);}

@media screen and (max-width: 1150px) {
  .about-container {grid-area: 1/1/2/4;}
  .resources-container {grid-area: 2/1/3/2;}
  .company-container {grid-area: 2/2/3/3;}
  .social-container {grid-area: 2/3/3/4;}

  .footer-container {
    padding-top: 5.1em;
    padding-bottom: 1.3em;

    &__links-container {
      grid-template-columns: unset;
      justify-items: center;
      grid-column-gap: unset;
      text-align: center;

      .li-item {width: 10em;}
    }
  }

  .about-container__p-item {margin-top: 2.2em;}
  .copywrite-container__p-item {font-size: 0.74em;}
}

@media screen and (max-width: 700px) {
  .about-container {grid-area: 1/1/2/2;}
  .resources-container {grid-area: 2/1/3/2;}
  .company-container {grid-area: 3/1/4/2;}
  .social-container {grid-area: 4/1/5/2;}

  .copywrite-container {
    margin-top: 4.6em;
    &__p-item {font-size: 0.61em;}
  }
}
