@use './../mixins' as *;
@use './../colors' as *;

.section {
  margin-right: auto;
  margin-left: auto;
  text-transform: capitalize;

  .contact-button {width: 10.45em;}

  &:last-of-type {margin-bottom: unset;}

  &--with-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &--common-top-gap {margin-top: 6.7em;}
}

@media screen and (max-width: 1050px) {
  .section {
    max-width: 35em;

    .content-container__p-item {max-width: 30em;}

    &--with-img {
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;

      .title {font-size: 1.85em;}
      .img {
        margin: 1.3em auto 0;
      }
    }

    &--common-top-gap {margin-top: 7em;}
  }
  .about-section {margin-top: 5em;}
  .custom-section {flex-direction: column;}
}

@media screen and (max-width: 550px) {
  .section {
    &--with-img .img {
      max-height: 400px;
      max-width: 400px;
      height: auto;
      width: 100%;
    }
  }
}

.content-container {
  flex-basis: 21.8em;
  margin-top: 4.9em;

  &__title {
    width: 100%;
    @include lineFontParams(100%, 2.4em, 700);
  }

  &__p-item {
    max-width: 88%;
    margin-top: 2.05em;
    @include lineFontParams(172%, 0.8em, 400);
  }

  &__svg-link {
    width: 16px;
    margin-top: 1.7em;
    transform:rotate(-90deg);
  }
}

@media screen and (max-width: 1050px) {
  .content-container {
    flex-basis: unset;
    margin-top: unset;

    & > * {
      margin-right: auto;
      margin-left: auto;
    }

    &__title {
      line-height: 100%;
      font-size: 1.8em;
    }
    &__p-item {
      max-width: 100%;
      margin-top: 2.6em;
      line-height: 196%;
    }
    &__svg-link {transform:rotate(0deg);}
  }
}
